<div class="row mt-5">

    <div class="col-md-12 m-auto">
  <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">ERRORS</div>
    <div class="card-body">
            <% var data1 = data %>
            <% var i = 0 %>
            <% var words = data1.split("\n")%>
             <% for(i = 0; i < words.length; i++) {%>
                
                <h4 class="card-title"><%= words[i]%></h4>
          
            <% }%>
            
      
    </div>
  </div>
</div>
</div>
  